body {
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 0px #fff;
    font-weight: lighter;
}
.pagebg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}
#pagebg0 {
    background: linear-gradient(to top right, #D2D7DB, #EDF2F5);
    z-index: -2;
}
#pagebg1 {
    background: url(../img/txtbg.png) repeat;
    z-index: -1;
}