body {
    padding: 0;
    margin: 0;
    background-color: #D2D7DB;
    /* text-shadow: 1px 1px 0px #fff;
     */
    user-select: none;
}
.pagebg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}
#pagebg0 {
    background: linear-gradient(to top right, #D2D7DB, #EDF2F5);
    z-index: 1;
}
#pagebg1 {
    background: url(../img/txtbg.png) repeat;
    z-index: 2;
}
#albumlist {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    z-index: 3;
}
.albumlistsub {
    height: 100%;
}
#albumlistsub0 {
    position: relative;
    display: inline-block;
    width: 100%;
}
#albumlistsub1 {
    position: relative;
    display: inline-block;
    width: auto;
}
#title {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    font-size: 100px;
    text-align: center;
    color: #EDF2F5;
    font-weight: bolder;
    text-shadow:-1px 0 #333, 0 -1px #333, 1px 0 #fff, 0 1px #fff;
}
#subtitle {
    font-size: 20px;
    font-weight: bolder;
}
.albumbox {
    display: block;
    position: absolute;
}
.album {
    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    background-color: #FFF;
    box-shadow: 1px 1px 5px #999, -10px 0px 20px #999;
    border-radius: 1px;
    overflow: hidden;
    cursor: pointer;
}
.coverbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 330px;
    height: 330px;
}
.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.albumleft {
    position: absolute;
    left: 0;
    height: 100%;
    width: 15px;
    box-shadow: 1px 0px 5px lightgray;
    z-index: 10;
}
.coverlayer {
    position: absolute;
    width: 0;
    height: 0;
    transform: rotate(90deg);
}
.coverlayer1 {
    border-bottom: 200px solid rgba(91, 206, 250, 0.5);
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    z-index: 7;
}
.coverlayer2 {
    top: 50px;
    left: 30px;
    border-bottom: 200px solid rgba(245, 169, 184, 0.5);
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    z-index: 8;
}
.coverlayer3 {
    top: -40px;
    left: 60px;
    border-bottom: 400px solid #FFF;
    border-right: 200px solid transparent;
    z-index: 6;
}
.coverlayer4 {
    top: 180px;
    left: 50px;
    border-bottom: 200px solid #FFF;
    border-left: 100px solid transparent;
    z-index: 8;
}
.coverimg {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    height: 80%;
    z-index: 4;
    background-color: lightgray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.covertitle {
    z-index: 9;
    text-align: center;
    position: absolute;
}
.covertitle1 {
    top: 90px;
    left: 20px;
    font-style: italic;
    font-size: 25px;
    
}
.covertitle2 {
    top: 20px;
    right: 40px;
    text-align: left;
    color: #888;
}
.covertitle2a {
    font-size: 20px;
}
.covertitle2b {
    font-size: 12px;
}
.cciconbox {
    position: absolute;
    bottom: 1px;
    left: 1px;
    z-index: 11;
}
.cciconbox span {
    float: left;
    margin-left: 5px;
    text-align: center;
}
.ccicon1 img {
    width: 25px;
    height: 25px;
    margin-top: 3px;
}
.cciconb img {
    width: 16px;
    height: 16px;
}
.cctext {
    position: relative;
    font-size: 15px;
    top: -5px;
    color: #888;
}