#albumlistsub0 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
#albumboxlayerbox {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.albumboxlayer {
    position: absolute;
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#albumboxlayer1 {
    top: 10px;
    right: 10px;
    bottom: 60px;
    background: #CCC;
    background: linear-gradient(to top right, #FFF, #CCC);
    box-shadow: 1px 1px 10px #555;
    z-index: 5;
}
#albumboxlayer2 {
    top: 13px;
    right: 13px;
    bottom: 63px;
    border-style: dashed dashed dashed none;
    border-width: 2px;
    border-color: #333;
    z-index: 6;
}
#albumboxlayer3 {
    top: 20px;
    right: 20px;
    bottom: 70px;
    background: #FFF;
    background: linear-gradient(to bottom, #FFF, #DDD);
    box-shadow: 1px 1px 5px #555;
    z-index: 7;
}
.albumboxpage {
    top: 20px;
    right: 20px;
    bottom: 70px;
    background: #FFF;
    background: linear-gradient(to bottom, #FFF, #DDD);
    text-align: center;
    overflow: hidden;
    z-index: 8;
}
.btnbox {
    position: absolute;
    width: 34%;
    height: 45px;
    bottom: 0;
    text-align: center;
    cursor: pointer;
}
.btnbox img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
}
.btnbox img:hover {
    background-color: #CCC;
}
#btnbox1 {
    left: 0;
}
#btnbox2 {
    left: 33%;
}
#btnbox3 {
    right: 0;
}
.pageimage {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
}
#albumboxpage1 {
    position: absolute;
    z-index: 1000;
}
.coverlayer {
    position: absolute;
    width: 0;
    height: 0;
}
#coverlayer1 {
    border-bottom: 200px solid rgba(91, 206, 250, 0.5);
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    transform: rotate(90deg);
    z-index: 11;
}
#coverlayer2 {
    top: 50px;
    left: 30px;
    border-bottom: 200px solid rgba(245, 169, 184, 0.5);
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    transform: rotate(90deg);
    z-index: 12;
}
#coverlayer3 {
    z-index: 13;
    width: 100%;
    height: 100%;
    text-align: left;
    overflow-x: auto;
    overflow-y: auto;
}
#readmetitle {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 0px;
    height: auto;
    font-size: 18px;
    text-shadow: 1px 1px 1px #888;
}
#txtread {
    color: #5bcefa;
}
#txtme {
    font-size: 50px;
    color: #f5a9b8;
}
#txtmd {
    color: #5bcefa;
}
#readmetitle hr{
    height:1px;
    border:none;
    border-top:2px dashed #5bcefa;
    border-bottom:2px solid #f5a9b8;
}
#readme {
    position: absolute;
    top: 150px;
    left: 50px;
    right: 50px;
    bottom: 0;
    color: #555;
}
#readme img {
    max-width: 100%;
}
#pagectlshadow {
    display: none;
    z-index: 1001;
    background: transparent;
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0.5));
    pointer-events: none;
    box-shadow: 50px 50px 100px #000;
}
.pagenum {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    text-shadow: 1px 1px 1px #FFF;
}